
.table {
  width: 100%;
  border-collapse: collapse;
  color: #FFFFFFDE;
  font-size: 12px;
  line-height: 1.2;
  table-layout: fixed;
  width: 80%;
}

.table.bikes {
  width: 80%;
}

.table.full {
  width: 100%;
}

.table thead th {
  color: white;
  font-weight: 600;
  text-align: left;
  padding: 10px 12px;
  border-bottom: 1px solid gray;
}

.table tbody td {
  padding: 10px 12px;
  border-bottom: 1px solid gray;
  color: white;
  word-break: break-word;
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.table th,
.table td {
  white-space: wrap;
}

.table caption {
  caption-side: bottom;
  padding: 10px 0;
  font-size: 13px;
  color: white;
}